<html>
<head>
<meta charset="utf-8">
<title>我的博客-登录</title>
<base target="_blank"></base>
</head>
<form action="index.php?c=blog&a=logincheck" method="post">
         <fieldset>
          			<legend>登&nbsp;录</legend>
          			<p>
          				用户名:
          				<input type="text" name="username"  />
          			</p>
          			<p>
          				密&nbsp;&nbsp;码:
          				<input type="password" name="password"/>
          			</p>
          			<p>
          				<input type="submit" value="登录" /> 
          				&nbsp;&nbsp;
          				<input type=button value="注册" onclick="window.open('register.php')"> 
          				
          			</p>
        </fieldset>
</form>
		


</body>
</html>